extends html, php

snippet foreach "Blade foreach"
@foreach (\$${1:items} as \$${2:item})
	$0
@endforeach
endsnippet

snippet {{ "Blade echo" iA
{{ $1 }}$0
endsnippet

snippet if "Blade if"
@if ($1)
	$0
@endif
endsnippet

snippet @php "Php tag"
@php
	$0
@endphp
endsnippet

snippet @ "New tag"
@${1}
	$0
@end$1
endsnippet

snippet @section "Section tag"
@section($1)
	$0
@endsection
endsnippet
